/* Core styles/functionality */
.toc_wrapper {
    margin-bottom: 30px;
}
.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.tab__content {
   max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
    margin: 0;
}
.tab input:checked ~ .tab__content {
   max-height: max-content;
   
}

/* Visual styles */
.accordion {
    overflow: hidden;
}
.tab__label,
.tab__close {
    display: flex;
    cursor: pointer;
}
.tab__label {
    justify-content: space-between;

}
.tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
    transform: rotate(270deg);
}
.tab__content p {
    margin: 0;
    padding: 1rem;
}
.tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}
.accordion--radio {
    --theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
    animation: bounce .5s infinite;
}
@keyframes bounce {
    25% {
        transform: rotate(90deg) translate(.25rem);
    }
    75% {
        transform: rotate(90deg) translate(-.25rem);
    }
}


ul.tab__content li {
    list-style: decimal;
}

ul.tab__content li a{
    text-decoration: none;
}
ul.tab__content a:focus {
    outline: none;
}

ul.level0 {
    padding: 0;
}
ul.level2 li {
    list-style: lower-alpha; 
}
ul.level3 li {
    list-style:lower-roman;
}